<table class="table table-striped">
  <% @leaves.sort.each do |key, value| %>
    <tr>
      <td><%= Plistener::UI.type_name value %></td>
      <td class="key">
        <%== key.map {|seg| %{<span class="key-seg">#{ Erubis::XmlHelper.escape_xml seg }</span>} }.join ':' %>
      </td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>